.character-import {
    display: flex;
}

.character-import input[type=text] {
    flex-grow: 100;
    height: 3rem;
    border-radius: 0;
    border: 1px solid var(--main-line-color);
    border-left: none;
    border-right: none;
    font-size: 1.5rem;
}
